<section class="container">

    <div class="card">
        <div class="card-image">
            <!-- <img
                src="C:\Users\chadc\Documents\Revature\seesharp\REST\ProjectOne\FrontEnd\angular-FrontEnd\FurrPictures\Batman_ad.jpg" /> -->
        </div>
        <h2 class="title">Title</h2>
        <p class="text">Text</p>
    </div>
    <div class="card">
        <div class="card-image"></div>
        <h2 class="title">Title</h2>
        <p class="text">Text</p>
    </div>
    <div class="card">
        <div class="card-image"></div>
        <h2 class="title">Title</h2>
        <p class="text">Text</p>
    </div>

</section>